In [2]:
import pandas as pd 
import numpy as np

In [16]:
Odata = pd.read_csv("oildpb.csv")
Bdata = pd.read_csv("bitcoin.csv")
Bndata = pd.read_csv("bnb.csv")
Rdata = pd.read_csv("xrp.csv")
Tdata = pd.read_csv("tron.csv")

In [17]:
oil = Odata.set_index("DATE")
oil.columns = ['OILPRICE']

In [18]:
bnb = pd.DataFrame(Bndata.iloc[:,0:2]).set_index("DATE")
bnb.columns = ['BNB']
pbnb = bnb.pct_change().dropna()

In [19]:
xrp = pd.DataFrame(Rdata.iloc[:,0:2]).set_index("DATE")
xrp.columns = ["XRP"]
pxrp = xrp.pct_change().dropna()

In [20]:
btc = pd.DataFrame(Bdata.iloc[:,0:2]).set_index("DATE")
btc.columns = ["BTC"]
pbtc = btc.pct_change().dropna()

In [21]:
tron = pd.DataFrame(Tdata.iloc[:,0:2]).set_index("DATE")
tron.columns = ["TRON"]
ptron = tron.pct_change().dropna()

In [22]:
idx = oil[oil["OILPRICE"] == "."].index
oil.drop(idx, inplace = True)
foil = oil.astype(float)
poil = foil.pct_change().dropna()

In [23]:
poil

            OILPRICE
DATE
2020-01-03  0.029917
2020-01-06  0.004286
2020-01-07 -0.009009
2020-01-08 -0.048644
2020-01-09 -0.001509
...              ...
2022-05-17 -0.015429
2022-05-18 -0.023506
2022-05-19  0.023160
2022-05-20  0.003743
2022-05-23 -0.020510

[600 rows x 1 columns]

In [24]:
pbtc

                 BTC
DATE
2022-05-28 -0.011224
2022-05-27 -0.014672
2022-05-26  0.021059
2022-05-25  0.011543
2022-05-24  0.003659
...              ...
2020-01-05 -0.049825
2020-01-04  0.000583
2020-01-03 -0.004568
2020-01-02 -0.051218
2020-01-01  0.033415

[879 rows x 1 columns]

In [25]:
ptron

                TRON
DATE
2020-01-02 -0.027262
2020-01-03  0.044998
2020-01-04  0.000596
2020-01-05  0.007669
2020-01-06  0.084011
...              ...
2022-05-25  0.050962
2022-05-26 -0.029555
2022-05-27 -0.018188
2022-05-28  0.005176
2022-05-29  0.011568

[879 rows x 1 columns]

In [26]:
pbnb

                 BNB
DATE
2022-05-28  0.010148
2022-05-27 -0.021132
2022-05-26  0.007008
2022-05-25  0.074505
2022-05-24  0.007704
...              ...
2020-01-05 -0.059492
2020-01-04 -0.015636
2020-01-03 -0.014440
2020-01-02 -0.045421
2020-01-01  0.051420

[879 rows x 1 columns]

In [27]:
pxrp

                 XRP
DATE
2022-05-28 -0.003173
2022-05-27 -0.012630
2022-05-26  0.029254
2022-05-25  0.034509
2022-05-24  0.005859
...              ...
2020-01-05 -0.127813
2020-01-04 -0.007402
2020-01-03  0.000518
2020-01-02 -0.029657
2020-01-01  0.029817

[879 rows x 1 columns]