In [1]:
import pandas as pd 
import numpy as np

In [2]:
Odata = pd.read_csv("oildpb.csv")
Bdata = pd.read_csv("bitcoin.csv")
Bndata = pd.read_csv("bnb.csv")
Rdata = pd.read_csv("xrp.csv")
Ddata = pd.read_csv("dot.csv")

In [3]:
oil = Odata.set_index("DATE")
oil.columns = ['OILPRICE']

In [4]:
bnb = pd.DataFrame(Bndata.iloc[:,0:2]).set_index("DATE")
bnb.columns = ['BNB']
pbnb = bnb.pct_change().dropna()

In [5]:
xrp = pd.DataFrame(Rdata.iloc[:,0:2]).set_index("DATE")
xrp.columns = ["XRP"]
pxrp = xrp.pct_change().dropna()

In [6]:
btc = pd.DataFrame(Bdata.iloc[:,0:2]).set_index("DATE")
btc.columns = ["BTC"]
pbtc = btc.pct_change().dropna()

In [7]:
dot = pd.DataFrame(Ddata.iloc[:,0:2]).set_index("DATE")
dot.columns = ["DOT"]
pdot = dot.pct_change().dropna()

In [8]:
idx = oil[oil["OILPRICE"] == "."].index
oil.drop(idx, inplace = True)
foil = oil.astype(float)
poil = foil.pct_change().dropna()

In [9]:
poil

            OILPRICE
DATE
2020-01-03  0.029917
2020-01-06  0.004286
2020-01-07 -0.009009
2020-01-08 -0.048644
2020-01-09 -0.001509
...              ...
2022-05-17 -0.015429
2022-05-18 -0.023506
2022-05-19  0.023160
2022-05-20  0.003743
2022-05-23 -0.020510

[600 rows x 1 columns]

In [10]:
pbtc

                 BTC
DATE
2022-05-28 -0.011224
2022-05-27 -0.014672
2022-05-26  0.021059
2022-05-25  0.011543
2022-05-24  0.003659
...              ...
2020-01-05 -0.049825
2020-01-04  0.000583
2020-01-03 -0.004568
2020-01-02 -0.051218
2020-01-01  0.033415

[879 rows x 1 columns]

In [11]:
pdot

                 DOT
DATE
2022-05-28 -0.005155
2022-05-27 -0.056062
2022-05-26  0.003952
2022-05-25  0.079278
2022-05-24  0.032421
...              ...
2021-02-12  0.024382
2021-02-11 -0.123792
2021-02-10 -0.061181
2021-02-09 -0.021765
2021-02-08 -0.002038

[475 rows x 1 columns]

In [12]:
pbnb

                 BNB
DATE
2022-05-28  0.010148
2022-05-27 -0.021132
2022-05-26  0.007008
2022-05-25  0.074505
2022-05-24  0.007704
...              ...
2020-01-05 -0.059492
2020-01-04 -0.015636
2020-01-03 -0.014440
2020-01-02 -0.045421
2020-01-01  0.051420

[879 rows x 1 columns]

In [13]:
pxrp

                 XRP
DATE
2022-05-28 -0.003173
2022-05-27 -0.012630
2022-05-26  0.029254
2022-05-25  0.034509
2022-05-24  0.005859
...              ...
2020-01-05 -0.127813
2020-01-04 -0.007402
2020-01-03  0.000518
2020-01-02 -0.029657
2020-01-01  0.029817

[879 rows x 1 columns]