In [94]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [95]:
data_nas = pd.read_csv("nasdaq.csv")
data_nas = data_nas.loc[:, "날짜":"종가"]
data_nas = data_nas.loc[::-1].reset_index(drop=True)
data_nas["종가"].replace('(,)', '', regex = True, inplace=True)
data_nas["종가"] = data_nas["종가"].astype(float)
data_nas["종가"] = data_nas["종가"].pct_change()
data_nas = data_nas.iloc[150:]
data_nas.columns=['DATE', '종가']
data_nas = data_nas.set_index('DATE')
data_nas

                     종가
DATE
2020년 01월 02일  0.013328
2020년 01월 03일 -0.007855
2020년 01월 06일  0.005620
2020년 01월 07일 -0.000319
2020년 01월 08일  0.006689
...                 ...
2022년 05월 23일  0.015910
2022년 05월 24일 -0.023478
2022년 05월 25일  0.015117
2022년 05월 26일  0.026753
2022년 05월 27일  0.033259

[607 rows x 1 columns]

In [96]:
data_gold = pd.read_csv("gold_price.csv")
data_gold = data_gold.loc[:, "날짜":"종가"]
data_gold = data_gold.loc[::-1].reset_index(drop=True)
data_gold["종가"].replace('(,)', '', regex = True, inplace=True)
data_gold["종가"] = data_gold["종가"].astype(float)
data_gold["종가"] = data_gold["종가"].pct_change()
data_gold = data_gold.iloc[1:]
data_gold.columns=['DATE', '종가']
data_gold = data_gold.set_index('DATE')
data_gold

                     종가
DATE
2020년 01월 02일  0.004701
2020년 01월 03일  0.015902
2020년 01월 06일  0.010564
2020년 01월 07일  0.003506
2020년 01월 08일 -0.008956
...                 ...
2022년 05월 23일  0.003094
2022년 05월 24일  0.009525
2022년 05월 25일 -0.010239
2022년 05월 26일  0.000704
2022년 05월 27일  0.002003

[635 rows x 1 columns]

In [97]:
gold_list = list(data_gold.index)
nas_list = list(data_nas.index)
for x in range(0, 607):
    if nas_list[x] != gold_list[x]:
        data_gold = data_gold.drop(index = gold_list[x])
        del gold_list[x]
        x -= 1
data_gold

                     종가
DATE
2020년 01월 02일  0.004701
2020년 01월 03일  0.015902
2020년 01월 06일  0.010564
2020년 01월 07일  0.003506
2020년 01월 08일 -0.008956
...                 ...
2022년 05월 23일  0.003094
2022년 05월 24일  0.009525
2022년 05월 25일 -0.010239
2022년 05월 26일  0.000704
2022년 05월 27일  0.002003

[607 rows x 1 columns]

In [99]:
data_ether = pd.read_csv("ethereum_price.csv")
data_ether = data_ether.loc[:, "날짜":"종가"]
data_ether = data_ether.loc[::-1].reset_index(drop=True)
data_ether["종가"].replace('(,)', '', regex = True, inplace=True)
data_ether["종가"] = data_ether["종가"].astype(float)
data_ether["종가"] = data_ether["종가"].pct_change()
data_ether.columns=['DATE', '종가']
data_ether = data_ether.set_index('DATE')
data_ether = data_ether.iloc[1:]
data_ether

                     종가
DATE
2020년 01월 02일 -0.027228
2020년 01월 03일  0.055665
2020년 01월 04일  0.000447
2020년 01월 05일  0.009380
2020년 01월 06일  0.062615
...                 ...
2022년 05월 25일 -0.018410
2022년 05월 26일 -0.076941
2022년 05월 27일 -0.038541
2022년 05월 28일  0.039657
2022년 05월 29일  0.011820

[879 rows x 1 columns]

In [100]:
ether_list = list(data_ether.index)
for x in range(0, 607):
    if nas_list[x] != ether_list[x]:
        data_ether = data_ether.drop(index = ether_list[x])
        del ether_list[x]
        x -= 1
data_ether = data_ether.iloc[:607]
data_ether

                     종가
DATE
2020년 01월 02일 -0.027228
2020년 01월 03일  0.055665
2020년 01월 05일  0.009380
2020년 01월 07일 -0.007218
2020년 01월 08일 -0.015590
...                 ...
2022년 05월 22일  0.034464
2022년 05월 24일  0.003254
2022년 05월 25일 -0.018410
2022년 05월 26일 -0.076941
2022년 05월 27일 -0.038541

[607 rows x 1 columns]

In [104]:
data_cardano = pd.read_csv("cardano_price.csv")
data_cardano = data_cardano.loc[:, "날짜":"종가"]
data_cardano = data_cardano.loc[::-1].reset_index(drop=True)
data_cardano["종가"].replace('(,)', '', regex = True, inplace=True)
data_cardano["종가"] = data_cardano["종가"].astype(float)
data_cardano["종가"] = data_cardano["종가"].pct_change()
data_cardano.columns=['DATE', '종가']
data_cardano = data_cardano.set_index('DATE')
data_cardano = data_cardano.iloc[1:]
data_cardano

                     종가
DATE
2020년 01월 02일 -0.023881
2020년 01월 03일  0.042813
2020년 01월 04일  0.008798
2020년 01월 05일  0.005814
2020년 01월 06일  0.078035
...                 ...
2022년 05월 25일 -0.014179
2022년 05월 26일 -0.068999
2022년 05월 27일 -0.049478
2022년 05월 28일  0.019987
2022년 05월 29일  0.019595

[879 rows x 1 columns]

In [105]:
cardano_list = list(data_cardano.index)
for x in range(0, 607):
    if nas_list[x] != cardano_list[x]:
        data_cardano = data_cardano.drop(index = ether_list[x])
        del cardano_list[x]
        x -= 1
data_cardano = data_cardano.iloc[:607]
data_cardano

                     종가
DATE
2020년 01월 02일 -0.023881
2020년 01월 03일  0.042813
2020년 01월 04일  0.008798
2020년 01월 06일  0.078035
2020년 01월 08일 -0.018919
...                 ...
2022년 05월 21일  0.023823
2022년 05월 23일 -0.053710
2022년 05월 25일 -0.014179
2022년 05월 26일 -0.068999
2022년 05월 27일 -0.049478

[607 rows x 1 columns]