In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [79]:
data_nas = pd.read_csv("nasdaq.csv")
data_nas = data_nas.loc[:, "날짜":"종가"]
data_nas = data_nas.loc[::-1].reset_index(drop=True)
data_nas["종가"].replace('(,)', '', regex = True, inplace=True)
data_nas["종가"] = data_nas["종가"].astype(float)
data_nas["종가"] = data_nas["종가"].pct_change()
data_nas = data_nas.iloc[150:]
data_nas.columns=['DATE', '종가']
data_nas = data_nas.set_index('DATE')
data_nas

                     종가
DATE
2020년 01월 02일  0.013328
2020년 01월 03일 -0.007855
2020년 01월 06일  0.005620
2020년 01월 07일 -0.000319
2020년 01월 08일  0.006689
...                 ...
2022년 05월 23일  0.015910
2022년 05월 24일 -0.023478
2022년 05월 25일  0.015117
2022년 05월 26일  0.026753
2022년 05월 27일  0.033259

[607 rows x 1 columns]

In [80]:
data_gold = pd.read_csv("gold_price.csv")
data_gold = data_gold.loc[:, "날짜":"종가"]
data_gold = data_gold.loc[::-1].reset_index(drop=True)
data_gold["종가"].replace('(,)', '', regex = True, inplace=True)
data_gold["종가"] = data_gold["종가"].astype(float)
data_gold["종가"] = data_gold["종가"].pct_change()
data_gold = data_gold.iloc[1:]
data_gold.columns=['DATE', '종가']
data_gold = data_gold.set_index('DATE')
data_gold

                     종가
DATE
2020년 01월 02일  0.004701
2020년 01월 03일  0.015902
2020년 01월 06일  0.010564
2020년 01월 07일  0.003506
2020년 01월 08일 -0.008956
...                 ...
2022년 05월 23일  0.003094
2022년 05월 24일  0.009525
2022년 05월 25일 -0.010239
2022년 05월 26일  0.000704
2022년 05월 27일  0.002003

[635 rows x 1 columns]

In [81]:
gold_list = list(data_gold.index)
nas_list = list(data_nas.index)
for x in range(0, 607):
    if nas_list[x] != gold_list[x]:
        data_gold = data_gold.drop(index = gold_list[x])
        del gold_list[x]
        x -= 1
data_gold

                     종가
DATE
2020년 01월 02일  0.004701
2020년 01월 03일  0.015902
2020년 01월 06일  0.010564
2020년 01월 07일  0.003506
2020년 01월 08일 -0.008956
...                 ...
2022년 05월 23일  0.003094
2022년 05월 24일  0.009525
2022년 05월 25일 -0.010239
2022년 05월 26일  0.000704
2022년 05월 27일  0.002003

[607 rows x 1 columns]